.section
{
  padding-top    : $margin-between-content-section;
  padding-bottom : $margin-between-content-section;
}

.spin
{
  animation: spin 1s infinite linear;
}

@keyframes spin
{
  from
  {
    transform : rotate(0deg);
  }
  to
  {
    transform : rotate(360deg);
  }
}