//  Colors
$color-dark-blue: #002a3b;
$color-light-blue: #0097D4;
$color-light-teal : #7fccbe;
$color-dark-white: darken(#ffffff, 15%);

//  Fonts
$font-serif: 'Roboto Slab', serif !important;
$font-sans-serif: 'Open Sans', sans-serif !important;


//  Margins
$margin-between-content-section : 50px;

