.jumbotron
{
  >.btn
  {
    font-size: 1.5em;
    padding: 10px 20px;
  }
}

.jumbotron-call-to-action
{
  margin: 40px 0 20px 0;
}

.container .jumbotron, .container-fluid .jumbotron
{
  padding-left: 0;
  padding-right: 0;
}